<!-- about.component.html -->

<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center mb-4">About Our Todo App</h2>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">What We Do</h5>
            <p class="card-text">
              Our Todo app helps you manage your tasks efficiently. You can add new tasks, mark them as completed, and delete them when you're done. Stay organized and boost your productivity with our simple and intuitive Todo app.
            </p>
            
          </div>
        </div>
        <div class="mt-4">
          <h5>Contact Information</h5>
          <p>Email: deepak99909090@gmail.com</p>
          <p>Phone: 8853896969</p>
        </div>
      </div>
    </div>
  </div>
  
